body,html
  // line-height:1
  font-weight:200
  font-family:'PingFang SC','STHeitiSC-Light','Helvetica-Light'
  color: #2e2c6b

.clear
  display:inline-block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden

